﻿
<div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
        <ul class="nav nav-secondary">
            <li class="nav-item active">
                <a href="/Admin/Dashboard/Index"
                   aria-expanded="false">
                    <i class="fas fa-home"></i>
                    <p>Ana Sayfa</p>
                </a>

            </li>
            <li class="nav-section">
                <span class="sidebar-mini-icon">
                    <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">Sayfalar</h4>
            </li>

            <li class="nav-item">
                <a href="/Admin/About/AboutList">
                    <i class="fas fa-layer-group"></i>
                    <p>Hakkımızda</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Admin/Service/ServiceList/">
                    <i class="fas fa-th-list"></i>
                    <p>Hizmetlerimiz</p>
                </a>

            </li>

            <li class="nav-item">
                <a href="/Admin/Class/ClassList">
                    <i class="fas fa-pen-square"></i>
                    <p>Sınıflarımız</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Team/TeamList/">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <p>Öğretmenlerimiz</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Branch/BranchList">
                    <i class="fas fa-code-branch"></i>
                    <p>Branşlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Event/EventList/">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Etkinlikler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Testimonial/TestimonialList/">
                    <i class="fas fa-user"></i>
                    <p>Referanslar</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Login/Logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <p>Çıkış</p>
                </a>
            </li>

        </ul>
    </div>
</div>